/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: burlywood;
  color: darkred;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

.logo h2 {
  font-size: 20px;
  font-weight: bold;
}

.logo img:hover {
  transform: rotate(10deg) scale(1.1);
}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 25px;
}

/* LINKS */
.nav-links a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
  transition: 0.3s;
}

/* HOVER */
.nav-links a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: white;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a:hover {
  transform: translateY(-2px);
}

/* ACTIVE */
.active-link {
  color: yellow;
  font-weight: bold;
}

/* RIGHT SIDE */
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* CART */
.cart {
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.cart:hover {
  transform: scale(1.2);
}

/* DESKTOP BUTTON */
.login-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  background: white;
  color: #6c63ff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #f0f0f0;
  transform: scale(1.05);
}

/* MOBILE LOGIN BUTTON */
.mobile-login-btn {
  background: white;
  color: #6c63ff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  display:none
}


/* USER INFO CONTAINER */
.user-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* PROFILE IMAGE */
.user-avatar {
  width: 40px;       /* medium size */
  height: 40px;
  border-radius: 50%;  /* 🔥 circle */
  object-fit: cover;
  border: 2px solid white;
}

/* TEXT */
.welcome-text {
  font-weight: bold;
  color: darkblue;
}

/* HAMBURGER */
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {

  .menu-icon {
    display: block;
    color: white;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: burlywood;
    color: #f0f0f0;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;

    transform: translateY(-150%);
    opacity: 0;
    pointer-events: none;
    transition: 0.4s ease;
  }

  .nav-links.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  .nav-right {
    display: none;
  }
  .mobile-login-btn {
    display: block;   
  }
}
