.slider-container {
  width: 100%;
  height: 420px;
  overflow: hidden;
  margin: 20px auto;
  position: relative;
}

/* track */
.slider-track {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease-in-out;
}

.slider-track img {
  width: 100%;
  height: 420px;
  object-fit:fill;
  /* flex-shrink: 0; */
}

/* 🔘 BUTTONS */
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 30px;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
}

.nav-btn:hover {
  background: rgba(0,0,0,0.8);
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

/* 📱 MOBILE */
@media (max-width: 480px) {
  .slider-container {
    height: 220px;
  }

  .slider-track img {
    height: 220px;
  }

  .nav-btn {
    font-size: 20px;
    padding: 6px 10px;
  }
}

/* 📱 TABLET */
@media (min-width: 481px) and (max-width: 768px) {
  .slider-container {
    height: 280px;
  }

  .slider-track img {
    height: 280px;
  }
}